<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<head>
  <title> Page </title>
</head>

<body>
<% if false %>
<div class="card">

        <img src="https://files.cults3d.com/uploaders/13397846/illustration-file/05955fd8-d99f-4fe4-8c91-1f4c726d1b0f/Capture%20d%E2%80%99e%CC%81cran%202017-12-14%20a%CC%80%2014.34.13_large.png" alt="Avatar" width="50%" height="50% style="center">

        <div class="container">

          <h4><b>Name: </b></h4> 

          <p>Function: </p> 

        </div>

      </div>
<% end %>
  <h1>Bienvenue sur Chouette Vision Project 🦉 !</h1>
  <c><div id="searchbar">
    <form action="" class="formulaire">
        <input class="champ" type="text"/>
        <input class="bouton" type="button" value="Search" />  
    </form>
</div></c>  
</body>
</html>