<h2>Policy brief & purpose</h2>

<p>We designed our company confidentiality policy to explain how we expect our employees to treat confidential information. Employees will unavoidably receive and handle personal and private information about clients, partners and our company. We want to make sure that this information is well-protected.

We must protect this information for two reasons. It may:
<ul>
<li>Be legally binding (e.g. sensitive customer data.)</li>
<li>Constitute the backbone of our business, giving us a competitive advantage (e.g. business processes.)</li>
</ul>
<h2>Scope</h2>

This policy affects all employees, including board members, investors, contractors and volunteers, who may have access to confidential information.
<h3>Policy elements</h3>

Confidential and proprietary information is secret, valuable, expensive and/or easily replicated. Common examples of confidential information are:
<ul>
<li>Unpublished financial information</li>
<li>Data of Customers/Partners/Vendors</li>
<li>Patents, formulas or new technologies</li>
<li>Customer lists (existing and prospective)</li>
<li>Data entrusted to our company by external parties</li>
<li>Pricing/marketing and other undisclosed strategies</li>
<li>Documents and processes explicitly marked as confidential</li>
<li>Unpublished goals, forecasts and initiatives marked as confidential</li>
</ul>
<h2>Employees may have various levels of authorized access to confidential information.</h2>
What employees should do:
<ul>
<li>Lock or secure confidential information at all times</li>
<li>Shred confidential documents when they’re no longer needed</li>
<li>Make sure they only view confidential information on secure devices</li>
<li>Only disclose information to other employees when it’s necessary and authorized</li>
<li>Keep confidential documents inside our company’s premises unless it’s absolutely necessary to move them</li>
</ul>
<h3>What employees shouldn’t do:</h3>
<ul>
<li>Use confidential information for any personal benefit or profit</li>
<li>Disclose confidential information to anyone outside of our company</li>
<li>Replicate confidential documents and files and store them on insecure devices</li>
</ul>
When employees stop working for our company, they’re obliged to return any confidential files and delete them from their personal devices.
Confidentiality Measures

We’ll take measures to ensure that confidential information is well protected. We’ll:
<ul>
<li>Store and lock paper documents</li>
<li>Encrypt electronic information and safeguard databases</li>
<li>Ask employees to sign non-compete and/or non-disclosure agreements (NDAs)</li>
<li>Ask for authorization by senior management to allow employees to access certain confidential information</li>
</ul>
<h2>Exceptions</h2>

Confidential information may occasionally have to be disclosed for legitimate reasons. Examples are:
<ul>
<li>If a regulatory body requests it as part of an investigation or audit</li>
<li>If our company examines a venture or partnership that requires disclosing some information (within legal boundaries)</li>
</ul>
In such cases, employees involved should document their disclosure procedure and collect all needed authorizations. We’re bound to avoid disclosing more information than needed.
Disciplinary Consequences

Employees who don’t respect our confidentiality policy will face disciplinary and, possibly, legal action.

We’ll investigate every breach of this policy. We’ll terminate any employee who willfully or regularly breaches our confidentiality guidelines for personal profit. We may also have to punish any unintentional breach of this policy depending on its frequency and seriousness. We’ll terminate employees who repeatedly disregard this policy, even when they do so unintentionally.

This policy is binding even after separation of employment.</p>