/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
li {
    float: left;
}
li a,z a, .dropbtn {
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #5db8b0;
}
z a:hover, .dropdown:hover .dropbtn {
    background-color: #5db8b0;
}
.button{
	border:none;
	padding:6px 0 6px 0;
	border-radius:75%;
	border-bottom:10px solid #4753f3;
	font:bold 13px Arial;
	color:#555;
	background:#fff;
	box-shadow:2px 2px 3px #999;
	border-top:2px solid #59cd27;
}

body {
	background-image: url('https://images.pexels.com/photos/1313051/pexels-photo-1313051.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	margin: 0;
	padding: 0;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,c div {
	color: #fff;
	display: flex;
	justify-content: center;
}

h2, h3, p, ul, ol, li {
    color: #fff;
}

footer {
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.footer_left {
	color: white;
	margin-left: 10px;
}
