<header>
     <nav><ul>
      <li><img src="https://www.chouettevision.fr/themes/jms_midnight/img/logo-homepage-6.png" height="40" width="40"></li>
        <li><a href="https://www.chouettevision.fr/">Home</a></li>
        <li><a href="https://www.chouettevision.fr/content/4-a-propos-source-lumiere-bleue-dmla-lunette" >About</a>
    </li>
    <div class="dropdown-content">
      <li style="float:right"><a class="active" href="https://www.chouettevision.fr/se-connecter-compte?back=my-account" >Se connecter</a>    
        <li style="float:right"><a class="active" href="https://www.chouettevision.fr/se-connecter-compte?back=my-account" >S'inscrire</a>
    </div></li></ul></nav>
</header>